<section>

  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>

  </div>

  <div class="blurb">
    <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>

  <div class="skill-lockup">

  </div>

</section>
