// HEADER PATH CONFIGURATIONS
$logo-path: '{{ site.data.portfolio.logo }}'
$hero-path: '{{ site.data.portfolio.bg-img }}'

// ABOUT PATH CONFIGURATIONS
$avatar-path: '{{ site.data.portfolio.avatar }}'

// FOOTER PATH CONFIGURATIONS

// IMPORTS
